nav {
    background-color: #4dd3eb;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
  }

nav ul {
    
    display: flex;
 justify-content: space-around;
}

li{
    display: flex;
    justify-content: space-around;
    padding: 50px;
  
}
