 /* .search{

    display: flex;
    position: absolute;
    right: 20%;
}

.result{
   display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 20%;
}  */
.boxFind{
    display: flex;
    position: absolute;
    right: 20%;
    top: 25%;
}
.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
 position: absolute;
    right: 10%;
    top: 100%;


 }
 .link li{
    display: flex;
 }


 .link a{
    display: inline-block;
   padding: 0 20px;
   font-size: 700;
   color: black;
   text-decoration: none;
 }
 .link a:hover{
    color: white;
 }
